<div class="header" style="text-align:center">
  <h1>
    Welcome to the Car Tracker!
  </h1>
</div>
<br><br><br><br><br><br>
<img width="150" height="250" align="right" alt="Car Logo 1" src="assets/car2.jpg">

<div class="middle" style="text-align:center">
  <h2>How can I help You Today! </h2>
  <a routerLink="/vehicle-details" routerLinkActive="active" class="btn btn-primary">List All The Vehicles</a><br><br>
  <a routerLink="/vehicle-allalerts" routerLinkActive="active" class="btn btn-primary">List all alerts of your Vehicle</a><br><br>
  <a routerLink="/vehicle-location" routerLinkActive="active" class="btn btn-primary">Vehicle's Location</a><br><br>
  <a routerLink="/vehicle-signal" routerLinkActive="active" class="btn btn-primary">Vehicle's Signal</a><br><br>
  <a routerLink="/alerts-allvehicles" routerLinkActive="active" class="btn btn-primary">All High Alerts for All Vehicles</a><br><br>
</div>

<img width="150" height="200" align="left" alt="Car Logo 2" src="assets/car1.png">

